.burger_icon {
    width: 48px;
    height: 48px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 9;
}

.burger_icon span {
    display: block;
    width: 48px;
    height: 6px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    position: absolute;
    transition: .25s ease-in-out;
    pointer-events: none;
}

.burger_icon span:nth-child(1) {
    top: 6px;
}

.burger_icon span:nth-child(2),
.burger_icon span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
}

.burger_icon span:nth-child(4) {
    bottom: 6px;
}

.burger_icon_open {
    position: fixed;
}

.burger_icon_open span:nth-child(1),
.burger_icon_open span:nth-child(4) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.burger_icon_open span:nth-child(2) {
    transform: rotate(45deg);
}

.burger_icon_open span:nth-child(3) {
    transform: rotate(-45deg);
}

@media only screen and (min-width: 720px) {
    .burger_icon {
        display: none;
    }
}